@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/glowing-lines-human-heart-3d-shape-dark-background-generative-ai_191095-1435.jpg?t=st=1708363685~exp=1708367285~hmac=b7bec11827f939d0ce755d3cf5e0e6014e4cb9251400b2028978b07161aed9c5&w=900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stopwatch {
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .display {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    width: 75px;
    height: 46px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    padding: 10px 20px;
  }

  .start:hover{
    background-color: green;
    color: white;
  }

  .pause:hover{
    background-color: rgb(255, 234, 0);
    color: black;
  }

  .reset:hover{
    background-color: red;
    color: white;
  }

  .lap:hover{
    background-color: blue;
    color: white;
  }
  
  .laps {
    list-style-type: none;
    padding: 0;
  }
  
  .laps li {
    margin-bottom: 5px;
    margin-top: 20px;
  }
  